<label for="list">Employee: </label>
<select
  id="list"
  [value]="selectedEmployee"
  (change)="employeeChanged($event.target.value)"
>
  <option [value]="item.id" *ngFor="let item of employees">
    {{ item.name }}
  </option>
</select>

<h3>Tasks List</h3>
<div class="center">
  <span
    class="arrow clickable"
    [attr.disabled]="selectedWeek == 1 ? true : null"
    (click)="previous()"
    ><</span
  >
  <span class="arrow">Week</span>
  <span class="arrow clickable" (click)="next()">></span>
</div>
<hr />
<table class="table">
  <tr>
    <th>Task Name</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr *ngFor="let item of timesheet">
    <td>{{ item.taskName }}</td>
    <td (dblclick)="editCell(item.sunday)">
      <span *ngIf="!editMode"> {{ item.sunday }}</span>
      <input
        #sunday
        type="text"
        [value]="item.sunday"
        *ngIf="editMode"
        (keyup.enter)="editCell(sunday.value)"
      />
    </td>
    <td (dblclick)="editCell(item.monday)">{{ item.monday }}</td>
    <td (dblclick)="editCell(item.tuesday)">{{ item.tuesday }}</td>
    <td (dblclick)="editCell(item.wednesday)">{{ item.wednesday }}</td>
    <td (dblclick)="editCell(item.thursday)">{{ item.thursday }}</td>
    <td (dblclick)="editCell(item.friday)">{{ item.friday }}</td>
    <td (dblclick)="editCell(item.saturday)">{{ item.saturday }}</td>
  </tr>
</table>

<hr />
<div class="container">
  <div class="row">
    <div class="col">
      <input type="button" value="Back" [routerLink]="['/employees']" />
      <input
        type="button"
        value="Save"
        [disabled]="!editMode"
        (click)="updateHours()"
      />
      <input
        type="button"
        value="Add"
        [disabled]="editMode"
        (click)="addHours(hours.value)"
      />
    </div>
  </div>
</div>
<hr />
<div>
  <h3>Add task hours</h3>
  <label> Task: </label>
  <select [value]="selectedTask" (change)="taskChanged($event.target.value)">
    <option [value]="item.id" *ngFor="let item of tasks">
      {{ item.name }}
    </option>
  </select>
  <label> Hours: </label>
  <input type="number" name="" id="" #hours min="1" value="1" />
  <label> Day: </label>
  <select [value]="selectedDay" (change)="dayChanged($event.target.value)">
    <option [value]="item.id" *ngFor="let item of days">
      {{ item.name }}
    </option>
  </select>
</div>
