/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: grey;
}
label {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #ddd;
    padding: 7px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1c6ca5;
    color: white;
  }
  tr:hover {
    background-color: #ddd;
  }
}

select {
  width: 150px;
}

.clickable {
  cursor: pointer;
}

.arrow {
  font-weight: bold;
  font-size: 30px;
}
.center {
  text-align: center;
}

span[disabled] {
  color: gray;
}
